/*
 * Estilos de tu proyecto
 */
  * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
img {
  vertical-align: middle;
}
/********MENU PRINCIPAL*********************/
header{
	/*background-image: url(../assets/images/hero.gif);
	background-repeat: no-repeat;
	background-size: cover;*/
	padding: 0;
	margin: 0

}
.imagePrincipal{
	width: 100%;
	padding: 0;
	margin: 0
}
header .navBar{
	height: 120px;
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 25px;
}
.logoWhite{
	width: 65px;
	height: 45px;
	position: relative;
	margin-left: 22px;
} 
.logoPink{
	width: 65px;
	height: 45px;
	display: none;
	margin-left: 22px;
	position: relative;
}
.menuPrincipal li{
	display: inline-block;
	color: #fff;
	font-weight: 300;
	font-size: 19px;
	margin: 0px 18px;
	cursor: pointer;
}
.logIn{
	border:1px solid #fff;
	padding: 10px;
	border-radius: 10px;
}
header .signUp{
	border:1px solid #FF00BF;
	padding: 10px;
	border-radius: 10px;
	color: #FF00BF;
	position: absolute;
	right: -120px;
}
header .navBar:hover .fa-chevron-down{
	color: #333447;
	-webkit-transition: .3s;
	transform: scale(1.0) rotate(180deg);
}
header .navBar:hover .menuPrincipal .logIn{
	border:1px solid #d8dce6;
}
header .navBar:hover .menuPrincipal li{
	color: #333447;
}
header .navBar:hover .signUp{
	right: 25px;
	-webkit-transition: .4s;
}
header .navBar:hover .logoWhite{
	display: none;
}
header .navBar:hover .logoPink{
	display: inline-block;
}
header .navBar:hover{
	background-color: white;
}
.menuPrincipal li:hover{
	color: #FF00BF;
}
.fa-chevron-down{
	font-size: 15px;
	margin-left: 5px;
	font-weight:lighter;
}
label{
	display: none;
}
.menuPrincipal{
	
}
.logo{
	width: 700px;
}
/*formulario****/
.form{
	background-color: #ffffff;
	width: 576px;
	padding: 50px;
	margin-top: -635px;
	margin-left: 773px;
	position: relative;
}
.form li{
	list-style: none;
}
.form ul{
	padding-left: 0;
}
.form h2,h1{
	font-size: 2.5rem;
	font-weight: 600;
    line-height: 1.1;
    color: #352384;
    padding: 0;
    margin: 0
}
.form p{
	font-size: .875rem;
	color: #352384;
	font-weight: 300;
}
.form .base{
	color: #728099;
	font-size: .6rem;
	font-weight: 300;
}
.form .base a{
	color: #ff00bf;
    text-decoration: none;
}
.textCamp{
	position: relative;
    margin-bottom: 30px;
    padding-bottom:0;
    border-bottom: 1px solid #352384;
    padding:20px 0;
}
input{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
    position: relative;
    z-index: 1;
    padding:0;
    padding-right: 0;
    padding-left: 0;
    border: none;
    background: 0 0;
    width: 500px;
}
input:focus{
	outline:0px;
}
input::placeholder{
	color: #7a8d9f;
}
.btn{
	cursor: pointer;
}
.btn-1{
	display: inline-block;
	width: 200px;
	color: #fff;
	font-weight: 400;
}
.btn-2{
	display: inline-block;
	width: 200px;
	color: #728099;
	font-weight: 300;
}
.btn-2:hover{
	display: inline-block;
	width: 200px;
	color: #FF00BF;
}
.btnPink{
	display: inline-block;
	width: 200px;
	padding: 15px 10px 20px 0px;
	background-color: #ff00bf;
	text-align: center;
	border-radius: 10px;
	margin-right: 20px;
}

/************CELULAR*************************/
.secondSection{
	background:linear-gradient(#76278f,#2b1e66); 
	padding: 220px 170px 20px 170px;
}
.celular{
	background-image: url(../assets/images/phone.png);
	background-repeat: no-repeat;
	background-size: 547px 512px;
	width: 547px;
	height: 512px;
	margin-left: 45%;
	display: inline-block;
	margin-left: 0;

}
.containerCel{
	display: inline-block;
	position: relative;
	bottom: 100px;
}
.containerCel p{
	width: 450px;
	color: #fff;
	margin-bottom: 50px;
	margin-top: 1rem;
	font-size: 16px;
	font-weight: 300;
}
h3{
	margin:0;
	font-weight: 500;
	font-size: 28px;
	color: #fff;
}
/************AMPLIFY YOUR RIDE***************/
.amplifyYourRide{
}
.contenedor{
	display: inline-block;
	width: 300px;
	margin-left: 60px;
	margin-right: 50px;
	margin-top: 40px;
	vertical-align: 310px;
}
.amplifyYourRide .video-1{
	text-align: right;
}
.video-1{
	display: inline-block;

}
iframe{
	width: 900px;
	height: 500px;
	margin: 0;
	padding: 0;
}
h2{
	margin:0;
	font-weight: 500;
	font-size: 28px;
}
h2, h6, .contenedor p, .contenedor2 p{
	margin: 0;
}
.contenedor p{
	width: 300px;
	font-size: 15px;
	font-weight: 300;
	
}
/************JUNE****************************/
.june{
}
.contenedor2{
	display: inline-block;
	width: 300px;
	margin-left: 60px;
	margin-right: 50px;
	margin-top: 40px;
	vertical-align: 310px;
}
.june .video-2{
	text-align: left;
}
.video-2{
	display: inline-block;
	margin-top: 0;
}
/************A GOOD THING GOING**************/
.aGoodThingGoing{
}

/************FOOTER**************************/
footer{
	background-color: #333447;
}
.ulLogin, .ulPartner, .ulLearn{
	display: inline-block;
	list-style: none;
}
.ulLogin li a, .ulPartner li a, .ulLearn li a{
	text-decoration: none;
	color: #fff;
	
}
.ulLogin li, .ulPartner li, .ulLearn li{
	padding: 10px 50px;

}
.ulLogin li a:hover, .ulPartner li a:hover, .ulLearn li a:hover{
	text-decoration: none;
	color: #FF00BF
}
.ulLogin li:first-child, .ulPartner li:first-child, .ulLearn li:first-child{
	font-size: 16px;
	font-weight: 700;
}
.ulLogin li:not(.uno), .ulPartner li:not(.uno), .ulLearn li:not(.uno){
	font-size: 13px;
	font-weight: 300;
}
footer img{
	width: 160px;
	height: 45px;
	margin: 10px;
}
.imgLogos{
	width: 200px;
	display: inline-block;
}
.cicle{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 2px solid #fff;
	margin: 20px;
}
.imgLogos{
	margin-left: 150px;
	padding: 50px;
}
hr{
	background-color: #fff;
	width: 60%
}
.redesSociales{
	text-align: center;
}
.fa{
	color: #fff;
	margin-top: 5px;
}
.copyrigth{
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 13px;
	padding: 30px 0 30px;
}